@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); 


body{
    background-color:  rgb(241, 245, 249);
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}